body{

    overflow: hidden;
}

.caixa{
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.caixa1{

    width: 150px;
    height: 150px;
    background-color: cornflowerblue;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    display: grid;
    align-content: center;
    gap: 5px;
}