body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: rgb(22, 97, 45);
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa{
    background-color: rgb(8, 183, 19);
    width: 80%;
    height: 80%;
    border: 1px solid rgb(75, 133, 41);
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa1{

    width: 400px;
    height: 400px;
    border: 1px solid red;
    background-color: rgb(123, 225, 105);
    border-radius: 10px;
}

img{
    width: 300px;
    height: 300px;
    border: 1px solid rgb(1, 1, 1);
}

input{
    width: 90%;
    padding: 10px;
}

.label{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}